.homePageMatches {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.matchBox {
    border: solid 1px black;
    border-radius: 15px;
    background: white;
    width: 100%;
    margin: 10px 0;
    padding: 0;
}
.matchBoxTop {
    display: flex;
    color: rgba(0,0,0,.5);
    background: rgba(0,0,0,.2);
    border-radius: 15px 15px 0 0;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
}
p {
    margin-bottom: 0;
}
.matchBoxBottom {
    padding: 20px 10px 20px 10px;
    height: 80%;
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}