.homePageTeams {
    margin: 20px 0 0 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.matchBox {
    box-shadow: 0px 3px 2px 2px rgba(0,0,0,.6);
    border: solid 1px black;
    border-radius: 15px;
    background: white;
    width: 100%;
    margin: 20px 0;
    padding: 0;
}
.matchBoxTop {
    display: flex;
    color: rgba(0,0,0,.5);
    background: rgba(0,0,0,.2);
    border-radius: 15px 15px 0 0;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
}
.matchBoxBottom {
    padding: 20px 10px 20px 10px;
    height: 80%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.matchBoxBottom p{
    margin-bottom: 0;
    font-size: 20px;
}
.HPScore {
    display: flex;
    min-width: 100px;
    justify-content: center;
    align-items: center;
}
.HPScore p:first-child, .HPScore p:last-child {
    font-size: 30px;
    padding: 10px;
}
.HPScore p {
    padding: 10px;
}

.HPTeamsCrest {
    max-width: 50px;
    min-height: 30px;
    margin: 10px;
}

.HPteamName {
    margin: 0 10px;
    text-align: center;
    width: 150px !important;
    min-width: 150px !important;
}