.homePageStandings {
    margin-top: 10px;
    padding: 0 10px;
    width: 100%;
    overflow: auto;
}
.homePageStandingsContainer {
    height: 90vh;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(255,255,255,.7);
    overflow: auto;

}

.homePageStandings h2 {
    font-size: 20px;
    background: rgba(255,255,255,.8);
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 5px;
}
tr img {
    height: 30px;
}
tr:nth-child(n+2):nth-child(-n+5) {
    background: rgb(121, 249, 121);
}
tr:nth-child(6) {
    background: orange;
}
tr:nth-last-child(-n+3) {
    background: red;
    color: white;
    border-radius: 20px;
}
tr td:last-child, th:last-child {
    padding: 0 10px 0 0;
}

tr:last-child td:first-child { 
    border-bottom-left-radius: 10px; 
}

tr:last-child td:last-child { 
    border-bottom-right-radius: 10px; 
}

.table tr {
    border-radius: 0 0 10px 10px;
}
.table {
    border-radius: 0 0 10px 10px;
    background: white;
    margin-bottom: 0;
    max-height: 90vh;
}
.table td, .table th {
    vertical-align: middle;
}
.teamNumbers {
    width: 40px;
}
.teamImg {
    /* text-align: left; */
}

.teamName {
    text-align: left;
}
.table tr {
    padding: 0 10px;
}