.homepage {
    display: flex;
    justify-content: space-around;
}
.leftHandHP {
    height: 90vh;
    /* width: 50%; */
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
.rightHandHP {
    max-width: 900px;
    /* width: 50%; */
}
.leftHandHPContainer {
    position: sticky;
    top: -1px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.8);
    box-shadow: 1px 3px 1px 1px rgba(0,0,0,.6);
    margin: 0 auto;
    border-radius: 15px;
}
.leftHandHPContainer .form-group {
    margin: 0 20px 0 0;
    width: 200px;
}
.leftHandHPContainer p {
    margin: 0;
}
.leftHandHPContainer .btn {
    margin: 0 10px;
    width: 100px;
}

@media screen and (max-width: 1200px) {
    .homepage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}